# Python
__pycache__/
*.py[cod]
.python-version

# Virtual Environment
.venv/
venv/

# Project Specific
qzone_photo/
chromedriver*
.DS_Store
config.json

# pyinstaller
build/
dist/
*.spec

# logs
logs/

# IDE
.vscode/
.idea/
.DS_Store